body {
    width:960px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/herringbone.png");
}

.navbar {
    background-color: #ffffff;
    border-color: #cccccc;
    padding: 0;
}

.navbar-brand {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    margin-left: 20px;
    padding: 20px;
}

.navbar-light .navbar-brand {
    color: white;
}

.card {
    padding: 20px;
    margin-top: 150px;
    max-width: 750px;
    margin-left: 20px;
    margin-bottom: 40px;    /* I actually want the card for the main section to be separated from the bottom 
                                regardless of size when you scroll all the way down - currently it is white 
                                with no separation from the footer */
}
#card-body-text {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer .navbar-text {
    background-color: #666666;
    color: white;
    border-top: 8px solid #4aaaa5;
    width: 100%;
    text-align: center;   
}
footer .navbar-light .navbar-text {
    color: white;
}

#profile-img {
    float: left;
    height: 25%;
    width: 25%;
    margin-right: 10px;
}

.portfolioCards .card-img-overlay {
    background-color: #4aaaa5;
    height: 30px;
    text-align: center;
    padding: 5px;
    top: 75%;
}




@media screen and (max-width: 760px) {
    body {
        width: 100%;
    }

    .card,
    form {
        width: 100%;
        margin-left: 0;
        
    }

}

@media screen and (max-width: 450px) {
    #profile-img {
        float: none;
        width: 100%;
        margin-bottom: 10px;

    }



}

